:root {
  --header-height: clamp(45px, 8vh, 70px);
  --extra-dark-grey: rgb(55, 55, 60);
  --dark-grey: rgb(90, 90, 95);
  --medium-grey: rgb(150, 150, 155);
  --light-grey: rgb(230, 230, 235);
  --extra-light-grey: rgb(240, 240, 245);
  --accent-color: rgb(207, 135, 0);
  --main-font: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter.var.woff2);
  font-weight: 100 900;
  font-optical-sizing: auto;
}
body {
  font-family: var(--main-font);
  font-size: 16px;
  color: var(--extra-dark-grey);
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  min-height: 100vh;
  margin: 0px;
  /* overflow: hidden; */
}

.header {
  grid-column: 1/3;
  height: var(--header-height);
  background-color: var(--extra-dark-grey);
}

.sidebar {
  grid-column: 1/2;
  width: clamp(175px, 23vw, 250px);
  background-color: var(--light-grey);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  box-sizing: border-box;
  height: calc(100vh - var(--header-height));
  overflow: scroll;
}
.sidebar h2 {
  color: var(--dark-grey);
  align-self: center;
}
.sidebar h3 {
  margin: 0px;
  font-weight: 900;
}

.content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  padding: 15px 30px 25px 45px;
  gap: 15px;
  background-color: var(--dark-grey);
  box-sizing: border-box;
  height: calc(100vh - var(--header-height));
  overflow: scroll;
}
h2 {
  margin: 10px 0px;
  font-size: 28px;
  font-weight: 900;
  color: var(--extra-light-grey);
}
p {
  margin: 0px;
}

/* Task display ============================================ */
.task-container {
  position: relative;
  display: grid;
  grid-template-columns: 25px 1fr 25px;
  grid-template-rows: min-content min-content 5px;
  column-gap: 5px;
  row-gap: 3px;
  font-size: 17px;
  align-items: center;
  padding: 5px 10px 7.5px 15px;
  background-color: var(--light-grey);
  border: solid 2px transparent;
  border-radius: 10px;
  transition: 0.1s;
}
.task-container:hover {
  transform: translateY(-2px);
  background-color: var(--extra-light-grey);
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
}
.task-checkbox {
  position: relative;
  margin: 0px;
  -webkit-appearance: none;
  appearance: none;
  border: solid 2px rgb(0, 0, 0, 0.25);
  background-color: var(--extra-light-grey);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: grid;
  place-content: center;
}
.task-checkbox::before {
  content: '';
  box-shadow: inset 20px 20px rgb(0, 0, 0, 0);
  border-radius: 50%;
  height: 5px;
  width: 5px;
  transition: 0.3s;
}
.task-checkbox::after {
  position: absolute;
  content: '';
  box-shadow: 0px 0px 0px 1.5px rgb(0, 0, 0, 0);
  border-radius: 50%;
  height: 22px;
  width: 22px;
  transition: 0.15s;
  top: -3px;
  left: -3px;
}
.task-container:hover .task-checkbox {
  border: solid 2px var(--medium-grey);
}
.task-container:hover .task-checkbox::before {
  box-shadow: inset 20px 20px rgb(0, 0, 0, 0.25);
  height: 12px;
  width: 12px;
}
.task-container:hover .task-checkbox::after {
  box-shadow: 0px 0px 0px 1.5px rgb(0, 0, 0, 0.08);
}
.due-date-container {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.due-date-container svg {
  height: 16px;
  fill: var(--accent-color);
}
.due-date-container p {
  font-size: 13px;
  color: var(--accent-color);
}
.task-container {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.expand-button {
  margin: 0px;
  -webkit-appearance: none;
  appearance: none;
  grid-row: 3;
  grid-column: 1 / -1;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 10%;
  padding: 0% 30%;
  margin-bottom: -10px;
  transition: 0.25s;
}
.expand-button::before {
  content: '';
  height: 3px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}
.expand-button:hover {
  opacity: 35%;
  padding: 0% calc(30% + 10px);
  cursor: pointer;
}
.expand-button:hover ~ .task-checkbox,
.task-menu-button:hover ~ .task-checkbox {
  border: solid 2px rgb(0, 0, 0, 0.25);
}
.expand-button:hover ~ .task-checkbox::before,
.task-menu-button:hover ~ .task-checkbox::before {
  box-shadow: inset 20px 20px rgb(0, 0, 0, 0);
  height: 5px;
  width: 5px;
}
.expand-button:hover ~ .task-checkbox::after,
.task-menu-button:hover ~ .task-checkbox::after {
  box-shadow: 0px 0px 0px 1.5px rgb(0, 0, 0, 0);
}
.notes-container {
  box-sizing: border-box;
  grid-column: 2;
  border-radius: 5px;
  border: solid 0px rgb(0, 0, 0, 0);
  transition: 0.3s;
  font-size: 0px;
  font-weight: 300;
  width: 0px;
  color: transparent;
  transition: 
    color 0.15s ease-in-out,
    font-size 0.2s ease-in-out 0.15s,
    width .2s ease-in-out 0.15s,
    margin .2s ease-in-out 0.15s;
}
.expand-button:checked {
  padding: 0% 25%;
}
.expand-button:checked ~ .notes-container {
  font-size: 17px;
  width: 100%;
  margin: 12.5px 0px 5px 0px;
  color: var(--medium-grey);
  transition: 
    color 0.15s ease-in-out 0.15s,
    font-size 0.15s ease-in-out,
    width .15s ease-in-out,
    margin .15s ease-in-out;
}
.task-menu-button {
  position: relative;
  grid-row: 1;
  grid-column: -2 / -1;
  height: 8px;
  border-radius: 10px;
  align-self: flex-start;
  display: grid;
  place-content: center;
  border: solid 2px rgb(0, 0, 0, 0.15);
  transition: border-color .1s;
}
.task-menu-button::before {
  content: '';
  height: 3px;
  width: 15px;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color .2s;
}
.task-menu-button:hover {
  cursor: pointer;
  border-color: rgb(0, 0, 0, 0.25);
  transition: border-color .2s;
}
.task-menu-button:hover::before {
  background-color: var(--medium-grey);
  transition: background-color .5s;
}
.task-menu {
  position: absolute;
  top: 10px;
  right: -2px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  visibility: hidden;
  transition: visibility 0.0s ease-in-out .25s;
}
.task-menu-button button {
  background-color: transparent;
  border: solid 2px rgb(0, 0, 0, 0);
  border-radius: 5px;
  margin-top: 3px;
  font-size: 13px;
  font-family: var(--main-font);
  font-weight: 500;
  color: rgb(0, 0, 0, 0);
  transition: 
    font-size .15s ease-in-out,
    border .15s ease-in-out,
    color .15s ease-in-out;
}
.task-menu-button:hover .task-menu {
  visibility: visible;
  transition: visibility 0.0s linear 0.0s;
}
.task-menu-button:hover button {
  border: solid 2px rgb(0, 0, 0, 0.1);
  color: var(--medium-grey);
  transition: 
    box-shadow .15s ease-in-out,
    border .15s ease-in-out,
    color .25s ease-in-out,
    font-size .15s ease-in-out;
}
.task-menu-button:hover button:hover {
  cursor: pointer;
  border-color: rgb(0, 0, 0, 0.35);
  box-shadow: 1.5px 1.5px 5px rgb(0, 0, 0, 0.25);
  /* color: var(--medium-grey); */
  font-size: 13.5px;
  transition: 
    box-shadow .1s ease-in-out,
    border-color .2s ease-in-out,
    font-size .15s ease-in-out;
}
.task-menu-button:hover button:hover:active {
  box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.25);
  background-color: var(--light-grey);
  transition: box-shadow 0.0s ease-in-out 0.0s;
}

/* New task button display ============================== */
.new-task-button {
  background-color: transparent;
  border: none;
  border: solid 2px var(--light-grey);
  border-radius: 10px;
  padding: 10px;
  margin-top: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  fill: var(--light-grey);
  transition: 0.1s;
}
.new-task-button:hover {
  border-color: var(--extra-light-grey);
  background-color: var(--extra-light-grey);
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.5);
  fill: var(--accent-color);
}
.new-task-button:active {
  background-color: var(--extra-light-grey);
}
.new-task-button svg {
  height: 40px;
}
/* New task form ======================================== */
.new-task-form,
.new-category-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /* margin-top: 25px; */
  width: max-content;
  height: max-content;
  border-radius: 11px;
  border: solid 2px var(--accent-color);
  box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 3;
}
.overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(50, 50, 50, 0.45);
  z-index: 2;
}
form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  padding: 25px;
  gap: 5px;
  width: 275px;
  border: solid 10px var(--extra-light-grey);
  border-radius: 9px;
  background-color: var(--light-grey);
}
label {
  font-weight: 900;
  color: var(--dark-grey);
}
.new-task-form input,
.new-category-form input,
.new-task-form textarea,
.new-task-form button,
.new-category-form button {
  box-sizing: border-box;
  margin-bottom: 10px;
  border: solid 2px var(--light-grey);
  border-radius: 7.5px;
  padding: 7.5px 15px;
  color: var(--medium-grey);
  font-size: 17px;
}
.new-task-form button,
.new-category-form button {
  margin-top: 15px;
  padding: 10px 15px;
  place-self: flex-end;
  background-color: white;
  font-weight: 900;
  font-family: var(--main-font);
  color: var(--dark-grey);
  transition: 0.1s;
  box-shadow: 2px 2px 8px rgb(0, 0, 0, 0.2);
}
.new-task-form button:hover,
.new-category-form button:hover {
  box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.3);
  transform: translateY(-1px);
  border-color: var(--accent-color);
}
input:focus,
textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

/* New category Button ==================================== */
.new-category-button {
  align-self: space-between;
  height: 45px;
  padding: 5px 15px;
  margin: 4px;
  background-color: var(--light-grey);
  border: solid 2px var(--extra-light-grey);
  border-radius: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.new-category-button svg {
  height: 30px;
  fill: var(--medium-grey);
  transition: 0.3s;
}
.new-category-button:hover {
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.1);
  transform: translateY(-1px);
  background-color: var(--extra-light-grey);
  cursor: pointer;
}
.new-category-button:hover svg {
fill: var(--dark-grey);
}
.category-button {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 45px;
  height: fit-content;
  padding: 7.5px 15px;
  margin: 4px;
  border: solid 2px var(--extra-light-grey);
  border-radius: 7.5px;
  background-color: var(--light-grey);
  color: var(--medium-grey);
  transition: .15s;
}
.category-button.selected {
  color: var(--dark-grey);
  background-color: var(--extra-light-grey);
}
.category-button div {
  height: 18px;
}
.category-button svg {
  position: absolute;
  top: 1px;
  right: 1px;
  height: 18px;
  fill: transparent;
  stroke-width: .5px;
}
.category-button:hover svg {
  transition: .15s;
  fill: var(--medium-grey);
}
.category-button:hover {
  box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.1);
  transform: translateY(-1px);
  background-color: var(--extra-light-grey);
  color: var(--dark-grey);
  cursor: pointer;
}
.category-button:hover:active {
  transition: .05s;
  box-shadow: 0px 0px 0px rgb(0, 0, 0, 0.0);
  transform: translateY(0px);
}
.category-button svg:hover {
  fill: var(--dark-grey);
  transform: scale(1.1);
}
